@mixin footer_themed($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $name: map-get($theme, name);

  @if ($name == 'primary') {
    .num-footer {
      background: mat-color($accent, 500);
      color: mat-contrast($primary, 900);
    }
  }
  @if ($name == 'codex') {
    .num-footer {
      background: mat-color($primary, 200);
      color: mat-contrast($primary, 200);
    }
  }
}
